/* CSS RESET */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*
border-box Vs. content-box:
border-box indica que la dimensión de un elemento incluye su border y su padding.
*/

html {
  border: 1px solid;
}

div {
  border: 1px solid red;
}

h1 {
  border: 1px solid green;
  width: 300px;
  background-color: bisque;
}

.flex {
  display: flex; /* Hace que el elemento sea flexible para poder posicionar lo que contenga. */
  flex-direction: row;
  /* justify-content: altera la propiedad del eje principal que se haya especificado con flex direction: row o column (o row-reverse, column-reverse) */
  justify-content: center;
  /* align-items: altera la propiedad del eje secundario */
  align-items: center;
  height: 100vh;
}

/*

justify-content:
flex-start (default)
center
flex-end
space-between: items are evenly distributed, but first item starts on the start line, last item starts at the end line: Edge[elem] [space] [elem] [space] [elem]Edge
space-around: items are evenly distributed: [10px elem 10px] [10px elem2 10px] [10px elem3 10px]
space-evenly: items are evenly distributed: [15px] elem [15px] elem2 [15px] elem3 [15px]

*/

/*

align-tems: https://css-tricks.com/almanac/properties/a/align-items/
flex-start
center
flex-end
baseline: aligns de base lines of the elements if they are not aligned.
stretch (default): stretches elements to fill the container
*/

.container-1, .container-2 {
  display: flex;
  width: 400px;
  height: 400px;
  border: 10px solid;
}

.container-1 {
  margin-right: 10px;
}

.container-1 h1 {
  display: flex; /* h1 no contiene ningún elemento, pero se posicionará su inner text */
  justify-content: center;
  align-items: center;
}

.caja-b {
  background-color: salmon;
  width: 200px;
}

.container-2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-2 div {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Vídeo: https://www.youtube.com/watch?v=CfkegKj6Wr0 */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  border: 2px solid;
  width: 80%;
  height: 95vh;
  display: flex;
}

.conversation-list {
  border: 2px solid;
  background-color: bisque;
  width: 30%;
  height: 100%;
  overflow-y: scroll;
}

.conversation-preview {
  border: 2px solid lightpink;
  background-color: thistle;
  height: 45px;
}

.conversation-detail {
  border: 2px solid;
  background-color: lightpink;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}